@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.root {
  min-width: 200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__search {
    display: flex;
    padding: 0 5px;
    border-radius: 20px;
    border: 2px solid $cyanColorDarken;
    margin-bottom: 10px;
    svg {
      width: 22px;
      path {
        stroke: $cyanColor;
        fill: $cyanColor;
      }
    }
  }
  &__input {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    min-width: none;
    padding: 5px 30px 5px 10px;
  }

  &__users {
    flex: 1 1 auto;
  }
}

.users {
  position: relative;
  overflow: hidden;

  &__avatar {
    width: 30px;
  }

  &__button {
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
    background-color: transparent;
    &:hover {
      background-color: var(--grayColorLightenUltra);
    }
  }

  &__empty {
    color: var(--grayColorLightenUltra);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
