.root {
  min-width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__search {
    display: flex;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--lobsteryColor);
    margin-bottom: 10px;
    @include svgSize(22px);
    @include svgColor(var(--lobsteryColor));
  }

  &__input {
    flex: 1 1 auto;
    border-radius: 20px;
    height: 100%;
    min-width: none;
    padding: 5px 10px 5px 10px;
  }

  &__users {
    flex: 1 1 auto;
  }
}

.users {
  position: relative;
  overflow: hidden;

  &__avatar {
    width: 30px;
  }

  &__button {
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
    background-color: transparent;
    @include hover {
      background-color: var(--mainHoverColor);
    }
  }

  &__empty {
    color: var(--mainTextInaciveColor);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
