.root {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    margin-bottom: 10px;
    color: var(--mainTextColor);
  }

  &__empty {
    width: 100%;
    text-align: center;
    color: var(--mainLinkColor);
  }

  &__tags {
    margin-top: 10px;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &__search {
    display: flex;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--lobsteryColor);
    margin-bottom: 10px;
    @include svgSize(22px);
    @include svgColor(var(--lobsteryColor));
  }

  &__input {
    flex: 1 1 auto;
    border-radius: 20px;
    height: 100%;
    min-width: none;
    padding: 5px 10px 5px 10px;
  }

  &__add {
    border-radius: 5px 5px 0 0;
    position: relative;
    padding: 0 10px;
    font-weight: 700;
    font-size: 12px;
    background-color: transparent;
    color: var(--lobsteryHoverColor);
    @include hover {
      background-color: var(--lobsteryColor);
      color: var(--mainBackgroundColor);
    }
  }

  &__decorationRemove {
    position: absolute;
    top: -2px;
    right: -8px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--mainBackgroundColor);
    opacity: 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainBackgroundColor);
    background-color: var(--redColor);
    @include svgSize(7.5px);
    @include svgColor(#fff);
  }

  &__tag {
    max-width: 100%;
    color: var(--greenColor);
    border-radius: 20px;
    padding: 5px 15px 5px 10px;
    position: relative;
    text-transform: lowercase;
    margin-right: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    &::before {
      content: '#';
    }

    @include hover {
      background-color: var(--mainHoverColor);

      .root__decorationRemove {
        opacity: 1;
      }
    }
  }
}
