.root {
  width: 100%;
  position: relative;
}

.customAudience {
  display: flex;
  border-radius: 10px;

  @include svgSize(20px);

  &__button {
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 1 auto;
    @include hover {
      background-color: var(--mainHoverColor);
    }
  }

  &__row {
    display: flex;
    padding: 3px;
    align-items: center;
  }

  &__whiteList {
    @include svgColor(var(--greenColor));
  }

  &__friends {
    @include svgColor(var(--blueColor));
  }

  &__friendsOfFriends {
    @include svgColor(var(--blueColor));
  }

  &__blackList {
    @include svgColor(var(--redColor));
  }
}
