@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.root {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  @media (min-width: 1200px) {
    flex-direction: row;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__aside {
    flex: 0 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (min-width: 1200px) {
      background-color: $panelColor;
      border-radius: 20px;
      width: 420px;
      flex: 0 0 420px;
      padding: 20px;
    }
  }
}

.canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
