.fullScreenOveraly {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  position: fixed;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 2px var(--panel1BoxShadowColor);
  background-color: var(--panel1BackgroundColor);
  & > button {
    display: block;
    width: 100%;
    transition: 0.2s;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-bottom: 1px solid var(--hrColor);
    &:last-child {
      border-bottom: none;
    }
  }
}
