@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.root {
  flex-direction: column;
  position: relative;
  transition: 0.3s;
  text-align: center;
  z-index: 998;
  &__button {
    transform: rotate(0deg);
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s;
    svg {
      height: 12px;
      @include svgcolor($cyanColor);
    }
    &:hover {
      background-color: $lightColor;
    }
  }

  &__body {
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px transparentize($darkColor, 0.8);

    & > * {
      display: block;
      border-bottom: 1px solid $grayColorLighten;
      width: 100%;
      transition: 0.2s;
      padding: 10px;
      background-color: $lightColor;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
    }
  }
}
