@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.root {
  position: relative;
  padding-top: 100px;

  &__posts {
    padding: 10px;
    padding-bottom: 120px;
    padding-right: 240px;
    @media (max-width: 1185px) {
      padding-right: 10px;
    }
    @media (max-width: 768px) {
      padding-right: 10px;
    }
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    @include scrollBar();
  }
}

.add_post_button {
  position: fixed;
  right: 20px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  background-color: $greenColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    bottom: 20px;
    padding-top: 0px;
  }
  svg {
    width: 20px;
    height: 50px;
    path {
      stroke: var(--lightColor);
    }
  }
  transition: 0.3s;
  &:hover {
    background-color: $greenColorDarken;
  }
}

.dialogOptions {
  &__yes {
    border: 1px solid $redColor;
    color: $redColor;
    flex: 0 0 70px;
    width: 70px;
    @media (hover: hover) {
      &:hover {
        background-color: $redColor;
        color: var(--lightColor);
      }
    }
  }

  &__return {
    background-color: $greenColor;
    color: var(--lightColor);

    @media (hover: hover) {
      &:hover {
        background-color: $greenColor;
      }
    }
  }
}
