@import '../../../../../../../../../../styles/colors.scss';

.tools {
  background-color: $iEditorMainColor;
  display: flex;
  gap: 5px;
  border-radius: 10px;
  padding: 5px;
  border: 1.5px solid darken($color: $iEditorMainColor, $amount: 2.5);
  box-shadow: -4px 4px 10px 0px darken($color: $iEditorMainColor, $amount: 2.5);
  align-items: center;
  position: relative;
}
