.root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.header {
  flex: 0 0 50px;
  height: 50px;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  @media (min-width: 420px) {
    padding: 5px 50px;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 10px;
    right: 60px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    @media (min-width: 867px) {
      display: flex;
    }
  }
}

.bottom {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @media (min-width: 480px) {
    padding: 10px 25px;
  }
  @media (min-width: 867px) {
    display: none;
  }
}

.canvas__crop {
  image-rendering: pixelated;
}
.canvas__image,
.degrees__canvas {
  image-rendering: optimizeSpeed;
}

.zoomTools {
  background-color: var(--panel2BackgroundColor);
  display: flex;
  border-radius: 5px;
  padding: 3px 5px;
  align-items: center;
  height: 30px;
  @media (min-width: 867px) {
    box-shadow: -4px 4px 10px 0px var(--panel2BoxShadowColor);
  }

  &__in,
  &__out,
  &__undo,
  &__redo {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    @include hover {
      background-color: var(--panel2HoverColor);
    }
    svg {
      width: 30px;
      height: 30px;
      padding: 7px;
      path {
        fill: var(--panel2TextInactiveColor);
      }
    }
  }

  &__in,
  &__out {
    svg {
      path {
        fill: var(--panel2TextColor);
      }
    }
  }

  &__undo,
  &__redo {
    svg {
      width: 30px;
      height: 30px;
      padding: 7px;
      path {
        fill: none;
        stroke: var(--panel2TextInactiveColor);
      }
    }
    &.active {
      path {
        fill: none;
        stroke: var(--panel2TextColor);
      }
    }
  }
  &__redo {
    svg {
      transform: scale(-1, 1);
    }
  }

  &__reset {
    padding: 0 5px;
    margin: 0 5px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    color: var(--panel2TextInactiveColor);
    @include hover {
      background-color: var(--panel2HoverColor);
    }
    &.active {
      color: var(--panel2TextColor);
    }
  }
}

.saveTools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &__save {
    font-weight: 700;
    height: 30px;
    border-radius: 5px;
    padding: 0 40px;
    @media (min-width: 420px) {
      padding: 0 60px;
    }

    &.disabled {
      cursor: default;
      color: var(--panel2TextInactiveColor);
      background-color: var(--panel2HoverColor);
    }
  }
}

.tabContent {
  min-height: 400px;
  flex: 1 1 auto;
  display: flex;
  position: relative;
}

.aside {
  &.active {
    flex: 0 0 350px;
  }
}
