.wrapper {
  background-color: var(--mainBackgroundColor);
  position: fixed;
  top: -15%;
  left: -15%;
  width: 130%;
  height: 130%;
  @media (min-width: 768px) {
    display: none;
  }
}
.root {
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: 768px) {
    position: relative;
    width: 600px;
    height: 650px;
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--mainBackgroundColor);
    @media (min-width: 768px) {
      margin: 5px;
      border-radius: 20px;
    }
  }

  &__form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 62px;
    @media (min-width: 768px) {
      margin-bottom: 0px;
      padding: 5px;
      padding-left: 50px;
      &.uploading {
        padding-left: 5px;
      }
    }
  }
}
