@import '../../styles/colors.scss';

.root {
  width: 100%;
  height: calc(100vh - env(safe-area-inset-bottom));
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &.fullScreen {
    width: 100%;
    height: calc(100vh - env(safe-area-inset-bottom));
  }

  &__wrapper {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparentize($darkColor, 0.4);
  }

  @media (min-width: 768px) {
    width: 600px;
    height: 650px;

    &.fullScreen {
      width: calc(100vw - 20px);
      height: calc(100vh - 20px);
    }
  }

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $lightColor;
    @media (min-width: 768px) {
      margin: 5px;
      border-radius: 20px;
    }
  }

  &__form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 62px;
    @media (min-width: 768px) {
      margin-bottom: 0px;
      padding: 5px;
      padding-left: 50px;
    }
  }

  &__return {
    position: absolute;
    background-color: $cyanColor;
    z-index: 2;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      padding: 8px;
      path {
        stroke: $lightColor;
        fill: $lightColor;
      }
    }
    &:hover {
      background-color: $cyanColorDarken;
    }
  }
}
