.slider {
  &__top {
    color: var(--mainTextColor);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    @media (min-width: 1200px) {
      padding: 0;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainTextColor);
    @include svgSize(15px);
  }
  &__title {
    flex: 1 1 auto;
    font-size: 14px;
    @media (min-width: 1200px) {
      margin-bottom: 16px;
    }
  }
  &__value {
    font-size: 12px;
    @media (min-width: 1200px) {
      margin-bottom: 14px;
    }
  }
}

.bar {
  cursor: pointer;
  height: 20px;
  margin: 0 10px;
  position: relative;
  &::before {
    content: '';
    background-color: var(--mainSliderColor);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    left: 0;
    height: 3px;
    @media (min-width: 1200px) {
      height: 5px;
    }
  }

  &__control {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--lobsteryTransparentColor);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @media (min-width: 1200px) {
      width: 20px;
      height: 20px;
    }
    @include hover {
      & > div {
        width: 11px;
        height: 11px;
      }
    }
  }
  &__controlPoint {
    transition: 0.2s;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    background-color: var(--lobsteryColor);
    @media (min-width: 1200px) {
      width: 11px;
      height: 11px;
    }
  }

  &__left {
    position: absolute;
    width: 0px;
    top: 50%;
    right: 0%;
    background-color: var(--lobsteryColor);
    transform: translate(-100%, -50%);
    border-radius: 5px;
    height: 3px;
    @media (min-width: 1200px) {
      height: 5px;
    }
  }
  &__right {
    position: absolute;
    width: 0px;
    left: 0%;
    top: 50%;
    background-color: var(--lobsteryColor);
    border-radius: 5px;
    transform: translate(0, -50%);
    height: 3px;
    @media (min-width: 1200px) {
      height: 5px;
    }
  }
}
