// //Dark Theme
// $greenColor: #88ca4e;
// $greenColorDarken: #72a942;
// $cyanColorDarken: #33a99a;

// $redColor: #ff652d;

// $grayColorLighten: #ccc;
// $grayColor: #aaa;
// $grayColorDarken: #666;

// $lightColor: #fff;
// $darkColor: #000;

// $iEditorMainColor: #202020;

// //Light Theme
$mainColor: #f1f1f1;
$mainColorHover: #d1d1d1;
$mainColorActive: #c0c0c0;
$mainTextColor: #444444;
$mainTextColorHover: #828282;
$mainTextColorInactive: #000000;

$panelColor: #d1d1d1;
$panelShadowColor: #b1b1b1;
$panelColorHover: #c8c8c8;
$panelColorActive: #8e8e8e;
$panelTextColor: #2e2e2e;
$panelTextColorHover: #4f4f4f;
$panelTextColorActive: #000000;
$panelTextColorInactive: #b3b3b3;

$themeColor: #578b2a;
$themeColorHover: #3d6b15;

$saveButtonColor: #72a942;
$saveButtonColorHover: #5e8b37;
$saveButtonTextColor: #f1f1f1;

// $mainColor: #1a1a1a; // Dark version of #f1f1f1
// $mainColorHover: #2b2b2b; // Dark version of #d1d1d1
// $mainColorActive: #333333; // Dark version of #c0c0c0
// $mainTextColor: #bbbbbb; // Dark version of #444444
// $mainTextColorHover: #999999; // Dark version of #828282
// $mainTextColorInactive: #ffffff; // Dark version of #000000

// $panelColor: #2b2b2b; // Dark version of #d1d1d1
// $panelShadowColor: #3c3c3c; // Dark version of #b1b1b1
// $panelColorHover: #333333; // Dark version of #c8c8c8
// $panelColorActive: #616161; // Dark version of #8e8e8e
// $panelTextColor: #d1d1d1; // Dark version of #2e2e2e
// $panelTextColorHover: #b0b0b0; // Dark version of #4f4f4f
// $panelTextColorActive: #ffffff; // Dark version of #000000
// $panelTextColorInactive: #4c4c4c; // Dark version of #b3b3b3

// $themeColor: #1b3e15; // Dark version of #578b2a
// $themeColorHover: #10240a; // Dark version of #3d6b15

// $saveButtonColor: #295e1c; // Dark version of #72a942
// $saveButtonColorHover: #295e1c; // Dark version of #72a942
// $saveButtonTextColor: #1a1a1a; // Dark version of #f1f1f1
