@import '../../../styles/mixins/buttons/rippleButton.scss';

.root {
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 25px;

  @include rippleButton(var(--mainTextColor), transparent, var(--lobsteryInterpolatedMain), var(--lobsteryActiveColor));
  justify-content: flex-start;
  gap: 20px;
  @include svgSize(20px);

  &.active {
    @include rippleButton(
      var(--lobsteryContrastTextColor),
      var(--lobsteryColor),
      var(--lobsteryHoverColor),
      var(--lobsteryActiveColor)
    );
    justify-content: flex-start;
    gap: 20px;
    @include svgSize(20px);
  }

  &.collapsed {
    padding: 0px;
    padding-left: 15px;
  }
}
