@import '../../../../styles/colors.scss';

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: var(--darkColorTransparent);
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
