.root {
  flex: 0 0 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__top {
    display: flex;
  }

  &__header {
    display: flex;
  }

  &__audienceBtn {
    border-radius: 50px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg:first-child {
      width: 17px;
      height: 17px;
    }
    svg:last-child {
      margin-left: 2px;
      width: 10px;
      height: 10px;
    }
  }

  &__input {
    border-bottom: 1px solid var(--hrColor);
    height: 30px;
    flex: 1 1 auto;
  }
}

.submenu {
  &__button {
    @include svgSize(14px);
  }
}

.top {
  padding: 5px 0;
  &__title {
    font-size: 12px;
    padding: 5px;
    padding-right: 20px;
    line-height: 12px;
    color: var(--mainTextColor);
    flex: 1 1 auto;
    word-wrap: break-word;
  }
}

.createNew {
  margin-left: 20px;
  border-radius: 20px;
  align-self: flex-end;
  padding: 5px 30px;
}
