$mainColor: #f1f1f1;
$mainColorHover: #d1d1d1;
$mainColorActive: #c0c0c0;
$mainTextColor: #444444;
$mainTextColorHover: #828282;
$mainTextColorInactive: #000000;

$panelColor: #d1d1d1;
$panelShadowColor: #b1b1b1;
$panelColorHover: #c8c8c8;
$panelColorActive: #8e8e8e;
$panelTextColor: #2e2e2e;
$panelTextColorHover: #4f4f4f;
$panelTextColorActive: #000000;
$panelTextColorInactive: #b3b3b3;

$themeColor: #578b2a;
$themeColorHover: #3d6b15;

$saveButtonColor: #72a942;
$saveButtonColorHover: #5e8b37;
$saveButtonTextColor: #f1f1f1;
