@import '../../../styles/colors.scss';

.tabs {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;

  @media (min-width: 400px) {
    gap: 20px;
  }

  @media (min-width: 540px) {
    justify-content: center;
  }

  @media (min-width: 767px) {
    margin-top: 0px;
    gap: 40px;
  }

  @media (min-width: 867px) {
    margin-top: 0px;
    gap: 30px;
  }

  @media (min-width: 1050px) {
    margin-top: 0px;
    gap: 50px;
  }

  &__tab {
    font-size: 12px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: $mainTextColor;
    position: relative;
    padding: 0 20px;

    span {
      display: none;
    }
    svg {
      height: 20px;
      path {
        stroke: $mainTextColor;
        fill: $mainTextColor;
      }
    }
    @media (min-width: 450px) {
      padding: 0;
      span {
        display: inline;
      }
    }
    @media (min-width: 768px) {
      gap: 10px;
      font-size: 14px;
      height: 35px;
    }
    &:hover {
      color: $mainTextColorHover;
      path {
        stroke: $mainTextColorHover;
        fill: $mainTextColorHover;
      }
    }
    &.active {
      color: $themeColor;
      svg {
        path {
          stroke: $themeColor;
          fill: $themeColor;
        }
      }
      &::before {
        content: '';
        position: absolute;
        width: 90%;
        height: 2px;
        bottom: 0;
        background-color: $themeColor;
      }
    }
  }
}
