.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;

  &__preview {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 6px;

    @media (min-width: 1200px) {
      width: 100px;
      height: 100px;
    }
  }

  &__active {
    position: absolute;
    opacity: 0;
    border-radius: 5px;
    background-color: var(--panel2ActiveColor);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px;
      height: 30px;
      * {
        fill: var(--panel2TextColor);
        stroke: var(--panel2TextColor);
      }
    }
  }

  &:active {
    .filter__preview {
      margin: 5px;
      margin-bottom: 10px;
      width: 50px;
      height: 50px;
      @media (min-width: 1200px) {
        width: 90px;
        height: 90px;
      }
    }
  }

  &__title {
    text-align: center;
    color: var(--panel2TextColor);
    font-size: 12px;

    @media (min-width: 1200px) {
      font-size: 14px;
    }
  }

  &.active {
    .filter__active {
      opacity: 1;
    }
    .filter__title {
      font-weight: 700;
    }
  }
}
