@import '../styles/colors.scss';

$gradientFirstColor: #5abad3;
$gradientSecondColor: #5abad3;
$gradientThirdColor: #6adeda;

$submitButtonColor: #5abad3;
$submitButtonColorHover: #6adeda;

$errorsCollor: $redColor;
