//YELLOW
$yellowColor: rgb(214, 190, 54);
$yellowColorDarken: #e4cd4c;
$yellowColorLighten: #fff5bc;

//ORANGE
$orangeColor: #ffab01;
$orangeColorDarken: #fd5b00;
$orangeColorLighten: #fff0d1;

//GREEN
$greenColor: #88ca4e;
$greenColorDarken: #72a942;
$greenColorLighten: #d9ffba;

//CYAN
$cyanColor: #51c1b2;
$cyanColorDarken: #33a99a;
$cyanColorLighten: #d4f4f4;

//BLUE
$blueColor: #306ac8;
$blueColorLighten: #90bbff;
$blueColorDarken: #2d589e;

//RED
$redColor: #ff652d;
$redColorLighten: #ffd0c0;
$redColorDarken: #d25324;

//TEXT
$backColor: #e7eaef;
$darkTextColor: #444;

//GRAY
$grayColorLightenUltra: #e1e1e1;
$grayColorLighten: #ddd;
$grayColor: #aaa;
$grayColorDarken: #555;

//WHITE - BLACK
$lightColor: #f5f5f5;
$darkColor: #000;
