@import './colors.scss';

@mixin svgcolor($color) {
  path {
    fill: $color;
    stroke: $color;
  }
}

@mixin scrollBar {
  @media (min-width: 768px) {
    &::-webkit-scrollbar {
      width: 15px;
      height: 15px;
      z-index: 200;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $grayColor;
      border-radius: 10px;
      border: 4px solid $lightColor;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken($color: $grayColorDarken, $amount: 10);
    }
  }
}

@mixin scrollBarSmall {
  @media (min-width: 768px) {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      z-index: 200;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $grayColor;
      border: 2px solid $grayColor;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken($color: $grayColorDarken, $amount: 10);
    }
  }
}
