@import './mixins.scss';
@import './colors.scss';

body,
html {
  height: 100%;
  background-color: var(--lightColor);
  transition: 0.3s;
}

#root {
  height: 100%;
  overflow: auto;
  @include scrollBar;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 0 20px;
    width: 600px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 20px;
    width: 700px;
  }
}
