@import './styles/colors.scss';

.root {
  background-color: $mainColor;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.header {
  flex: 0 0 50px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.canvas__crop {
  image-rendering: pixelated;
}
.canvas__image,
.degrees__canvas {
  image-rendering: optimizeSpeed;
}

.zoomTools {
  background-color: $panelColor;
  display: flex;
  border-radius: 10px;
  padding: 0 5px;
  border: $mainColorActive;
  box-shadow: -4px 4px 10px 0px $panelShadowColor;
  align-items: center;
  &__in,
  &__out,
  &__undo,
  &__redo {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    &:hover {
      background-color: $panelColorHover;
    }
    svg {
      width: 30px;
      height: 30px;
      padding: 7px;
      path {
        fill: $panelTextColorInactive;
      }
    }
  }

  &__in,
  &__out {
    svg {
      path {
        fill: $mainTextColor;
      }
    }
  }

  &__undo,
  &__redo {
    svg {
      width: 30px;
      height: 30px;
      padding: 7px;
      path {
        fill: none;
        stroke: $panelTextColorInactive;
      }
    }
    &.active {
      path {
        fill: none;
        stroke: $panelTextColor;
      }
    }
  }
  &__redo {
    svg {
      transform: scale(-1, 1);
    }
  }

  &__reset {
    padding: 0 5px;
    margin: 0 5px;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    color: $panelTextColorInactive;
    &:hover {
      background-color: $panelColorHover;
    }
    &.active {
      color: $panelTextColor;
    }
  }
}

.saveTools {
  display: flex;
  align-items: center;
  gap: 10px;
  &__save {
    color: $saveButtonTextColor;
    font-weight: 700;
    height: 30px;
    border-radius: 5px;
    background-color: $saveButtonColor;
    padding: 0 100px;
    &:hover {
      background-color: $saveButtonColorHover;
    }
  }
  &__cancel {
    color: $mainTextColor;
    padding: 0 10px;
    height: 30px;
    border-radius: 5px;
    background-color: $mainColor;
    &:hover {
      background-color: $mainColorHover;
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  &__tab {
    font-size: 14px;
    height: 35px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: $mainTextColor;
    position: relative;
    svg {
      height: 20px;
      path {
        stroke: $mainTextColor;
        fill: $mainTextColor;
      }
    }
    &:hover {
      color: $mainTextColorHover;
      path {
        stroke: $mainTextColorHover;
        fill: $mainTextColorHover;
      }
    }
    &.active {
      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        bottom: 0;
        background-color: $themeColor;
      }
    }
  }
}

.tabContent {
  min-height: 400px;
  flex: 1 1 auto;
  display: flex;
}

.aside {
  &.active {
    flex: 0 0 350px;
  }
}
