.root {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;

  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    margin-bottom: 10px;
    color: var(--mainTextColor);
  }

  &__dropzone {
    cursor: pointer;
    position: relative;
    height: calc(100% - 30px);
    overflow: hidden;
    display: flex;
    // align-items: center;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      right: 14px;
      z-index: 1;
      background-image: linear-gradient(var(--mainBackgroundColor), transparent);
    }
    &::after {
      top: auto;
      bottom: 0;
      background-image: linear-gradient(transparent, var(--mainBackgroundColor));
    }
  }

  &__placeholder {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__tools {
    position: absolute;
    right: 20px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include svgColor(var(--mainTextInactiveColor));
  svg {
    width: 30%;
  }

  &__title {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--mainTextColor);
  }

  &__subtitle {
    font-size: 13px;
    color: var(--mainTextInactiveColor);
  }

  &__drag_active_text {
    opacity: 0;
  }

  &.active {
    border-radius: 10px;
    border: 5px dashed var(--lobsteryColor);
    .placeholder__title,
    .placeholder__subtitle,
    svg {
      opacity: 0;
    }

    .placeholder__drag_active_text {
      opacity: 1;
    }
  }
}

.tools {
  &__button {
    width: 50px;
    height: 50px;
    background-color: var(--greenColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--mainBackgroundColor);

    svg {
      width: 22px;
      height: 45px;
      path {
        fill: var(--mainBackgroundColor);
        stroke: var(--mainBackgroundColor);
      }
    }
    transition: 0.3s;
    @include hover {
      background-color: var(--greenHoverColor);
    }
  }
}

.contextMenu {
  width: 40px;
  height: 40px;
  position: relative;

  &__button {
    background-color: var(--mainBackgroundColor);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: 0.1s;
    transform: translate(0%);
    box-shadow: 2px 2px 5px 2px var(--mainBoxShadowColor);

    svg {
      width: 17px;
      height: 17px;
    }

    @include hover {
      background-color: var(--mainHoverColor);
    }
    @include svgColor(var(--redColor));
  }

  &__makeMain {
    animation: moveInMakeMain 0.2s;
    transform: translate(-10%, -200%);
    @include svgColor(var(--greenColor));
  }
  &__delete {
    animation: moveInDelete 0.2s;
    transform: translate(120%, -150%);
    @include svgColor(var(--redColor));
  }
  &__edit {
    animation: moveInEdit 0.2s;
    transform: translate(190%, -30%);
    @include svgColor(var(--orangeColor));
  }
  &__tag {
    animation: moveInTag 0.2s;
    transform: translate(160%, 100%);
    @include svgColor(var(--blueColor));
  }
}

@keyframes moveInMakeMain {
  from {
    transform: translate(0%, 0%) scale(0.3);
  }
  to {
    transform: translate(-10%, -200%) scale(1);
  }
}

@keyframes moveInDelete {
  from {
    transform: translate(0%, 0%) scale(0.3);
  }
  to {
    transform: translate(120%, -150%) scale(1);
  }
}

@keyframes moveInEdit {
  from {
    transform: translate(0%, 0%) scale(0.3);
  }
  to {
    transform: translate(190%, -30%) scale(1);
  }
}

@keyframes moveInTag {
  from {
    transform: translate(0%, 0%) scale(0.3);
  }
  to {
    transform: translate(160%, 100%) scale(1);
  }
}

.modal {
  &__body {
    display: flex;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mainBackgroundColor);
    flex-direction: column;
  }

  &__return {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    border-radius: 50%;
  }
}
