@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.root {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;

  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    margin-bottom: 10px;
  }

  &__dropzone {
    cursor: pointer;
    position: relative;
    height: calc(100% - 30px);
    overflow: hidden;
    display: flex;
    // align-items: center;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      right: 14px;
      z-index: 1;
      background-image: linear-gradient($lightColor, transparent);
    }
    &::after {
      top: auto;
      bottom: 0;
      background-image: linear-gradient(transparent, $lightColor);
    }
  }

  &__placeholder {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__tools {
    position: absolute;
    right: 20px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparentize($color: $lightColor, $amount: 0.2);
  justify-content: center;
  svg {
    width: 30%;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 13px;
    color: $grayColor;
  }

  &__drag_active_text {
    opacity: 0;
  }

  &.active {
    border-radius: 10px;
    border: 5px dashed $cyanColor;
    .placeholder__title,
    .placeholder__subtitle,
    svg {
      opacity: 0;
    }

    .placeholder__drag_active_text {
      opacity: 1;
    }
  }
}

.tools {
  &__button {
    width: 50px;
    height: 50px;
    background-color: $greenColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $lightColor;

    svg {
      width: 22px;
      height: 45px;
      path {
        fill: $lightColor;
        stroke: $lightColor;
      }
    }
    transition: 0.3s;
    &:hover {
      background-color: $greenColorDarken;
    }
  }
}

.contextMenu {
  width: 40px;
  height: 40px;
  position: relative;

  &__button {
    background-color: $lightColor;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    transition: 0.1s;
    transform: translate(0%);
    box-shadow: 2px 2px 5px 2px transparentize($color: $darkColor, $amount: 0.8);
    svg {
      width: 30px;
      height: 30px;
      padding: 5px;
    }
    @media (hover: hover) {
      &:hover {
        background-color: $grayColorLighten;
      }
    }
  }
  &__close {
    svg {
      @include svgcolor($redColor);
    }
  }
  &__delete {
    animation: moveInDelete 0.2s;
    transform: translate(120%, -150%);
    svg {
      @include svgcolor($redColor);
    }
  }
  &__edit {
    animation: moveInEdit 0.2s;
    transform: translate(190%, -30%);
    svg {
      @include svgcolor($greenColor);
    }
  }
  &__tag {
    animation: moveInTag 0.2s;
    transform: translate(160%, 100%);
    svg {
      @include svgcolor($blueColor);
    }
  }
}

@keyframes moveInDelete {
  from {
    transform: translate(0%, 0%) scale(0.3);
  }
  to {
    transform: translate(120%, -150%) scale(1);
  }
}

@keyframes moveInEdit {
  from {
    transform: translate(0%, 0%) scale(0.3);
  }
  to {
    transform: translate(190%, -30%) scale(1);
  }
}

@keyframes moveInTag {
  from {
    transform: translate(0%, 0%) scale(0.3);
  }
  to {
    transform: translate(160%, 100%) scale(1);
  }
}

.modal {
  &__body {
    display: flex;
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $lightColor;
  }

  &__return {
    position: absolute;
    background-color: $redColor;
    z-index: 2;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      padding: 8px;
      path {
        stroke: $lightColor;
        fill: $lightColor;
      }
    }
    &:hover {
      background-color: $redColorDarken;
    }
  }
}
