@import '../../../../../../../styles/colors.scss';

.root {
  padding: 10px 0;
  &__category {
    padding: 10px 0;
  }

  &__title {
    color: $grayColorLighten;
    margin-bottom: 10px;
  }

  &__list {
    & > div {
      margin-bottom: 20px;
    }
  }
}
