.root {
  transition: 0.3s;

  padding-left: 0;
  @media (min-width: 768px) {
    padding-left: 190px;
  }

  @media (min-width: 856px) {
    padding-left: 240px;
  }

  &.collapsed {
    padding-left: 0;
    @media (min-width: 768px) {
      padding-left: 50px;
    }
  }
}

.center {
  transition: 0.3s;

  @media (min-width: 1250px) {
    padding-right: 40px;
  }

  @media (min-width: 1250px) {
    padding-right: 230px;
    &.collapsed {
      padding-right: 40px;
    }
  }
}
