@import '../../../styles/colors.scss';

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw);
  height: calc(100vh);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  &__column {
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparentize($color: $darkColor, $amount: 0.8);
  }

  &.fullSize {
    padding: 0;

    .root__column {
      height: 100%;
      width: 100%;
      & > * {
        border-radius: 0;
      }
    }
  }
}
