.root {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
