@import '../../../styles/mixins.scss';

.scrollArea {
  flex: 1 1 auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &__content {
    padding: 20px 0;
    padding-right: 5pxs;
    overflow: hidden;
    overflow-y: auto;
    @include scrollBarSmall;
  }

  &::before,
  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    right: 0;
    background-image: linear-gradient($lightColor, transparent);
  }
  &::after {
    top: auto;
    bottom: 0;
    background-image: linear-gradient(transparent, $lightColor);
  }
}
