$color: var(--mainBackgroundColor);
.root {
  background-color: var(--mainBackgroundColorTransparent);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__top {
    flex: 1 1 auto;
    display: flex;
    height: 200px;
    flex: 0 0 200px;
    @include svgSize(200px);
  }

  &__images {
    position: relative;
    max-height: 50%;
  }

  &__imageBlock {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: transform;
    overflow: hidden;
    transition: 1s;
    gap: 20px;
    overflow: hidden;
    height: 80px;
    &.uploaded {
      transform: translate(0, -100%) scale(0);
      height: 0px;
      margin-bottom: 0px;
    }
    &.pending {
      opacity: 0.8;
    }
  }

  &__image {
    height: 80px;
    width: 80px;
    filter: blur(0.4px);
  }

  &__progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__imageProgress {
    text-align: left;
    &.pending {
      color: var(--mainTextInactiveColor);
    }
  }

  &__progressBarBlock {
    width: 200px;
    background-color: var(--mainHoverColor);
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
  }

  &__progressBar {
    transition: 0.1s;
    background-color: var(--greenColor);
    width: 0%;
    height: 100%;
    border-radius: 0 30px 30px 0;
    position: relative;
    overflow: hidden;
  }
}
