.root {
  &__empty {
    text-align: center;
    color: var(--mainTextInactiveColor);
  }

  &__moreComments {
    background-color: transparent;
    color: var(--mainTextInactiveColor);
    transition: 0.2s;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-left: 15px;
    span {
      margin-right: 20px;
    }
    svg {
      transform: rotate(180deg);
      width: 20px;
      path {
        transition: 0.2s;
        fill: var(--mainTextColor);
      }
    }

    @include hover {
      color: var(--mainTextInactiveColor);
      svg {
        path {
          fill: var(--mainTextColor);
        }
      }
    }
  }
}
