.root {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  &__body {
    flex: 1 1 auto;
    position: relative;
  }
}

.previewCanvas,
.imageCanvas,
.canvas {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.markupTools {
  height: 65px;
  flex: 0 0 65px;
  display: flex;
  justify-content: center;
}
