@import '../../mixins.scss';
@import '../../colors.scss';

@mixin solidButton($background: $darkColor, $text: $lightColor) {
  color: $text;
  @include svgcolor($text);
  background-color: $background;
  @media (hover: hover) {
    &:hover {
      background-color: darken($color: $background, $amount: 15);
    }
  }
  &:active,
  &.active {
    background-color: lighten($color: $background, $amount: 10);
  }
}

@mixin lightButton($borderColor: $darkColor, $text: $darkColor, $size: 1px) {
  color: $text;
  @include svgcolor($text);
  border: $size solid $borderColor;
  @media (hover: hover) {
    &:hover {
      border: $size solid darken($borderColor, 5);
      background-color: darken($borderColor, 5);
      color: $lightColor;
    }
  }
  &:active,
  &.active {
    border: $size solid lighten($color: $borderColor, $amount: 10);
    background-color: lighten($color: $borderColor, $amount: 10);
  }
}
