@mixin solidButton(
  $text: var(--mainTextColor),
  $background: var(--mainBackgroundColor),
  $hover: var(--mainHoverColor)
) {
  color: $text;
  background-color: $background;
  @include svgColor($text);
  @include hover {
    background-color: $hover;
  }
}

@mixin lightButton(
  $text: var(--mainTextColor),
  $hoverText: var(--mainTextColor),
  $background: var(--mainBackgroundColor),
  $hover: var(--mainHoverColor),
  $size: 1px
) {
  color: $text;
  border: $size solid $background;
  @include svgColor($text);
  @include hover {
    border: $size solid $hover;
    background-color: $hover;
    color: $hoverText;
  }
}
