.root {
  @media (min-width: 767px) {
    position: relative;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }

  &__settings {
    position: absolute;
    bottom: calc(100% + 20px);
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.brush {
  background-color: var(--panel2BackgroundColor);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include svgColor(var(--panel2TextColor));

  &__type {
    position: absolute;
    top: 0;
    right: 3px;
    height: 5px;
    @include svgSize(10px);
    @include svgColor(var(--panel2TextColor));
  }

  &__status {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    .brush__color {
      width: 25px;
      height: 2px;
      border-radius: 2px;
    }
    svg {
      visibility: hidden;
      height: 5px;
      path {
        fill: inherit;
        stroke: inherit;
      }
    }
  }

  @include hover {
    background-color: var(--panel2HoverColor);
    &.active {
      background-color: var(--panel2ActiveColor);
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    svg {
      width: 18px;
      height: 18px;
      @include svgColor(var(--panel2TextColor));
    }
  }

  &.active {
    background-color: var(--panel2BoxShadowColor);
    .brush__icon {
      svg {
        @include svgColor(var(--panel2TextColor));
      }
    }
    .brush__status {
      svg {
        visibility: visible;
      }
    }
  }
}
