.actions {
  display: flex;
  gap: 10px;
  padding-top: 5px;

  &__body {
    display: flex;
  }

  &__dislikes,
  &__likes {
    color: var(--mainTextInactiveColor);
    padding: 2px 8px;
    border-radius: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    cursor: pointer;

    @include hover {
      background-color: var(--mainHoverColor);
    }

    @include svgSize(15px);
    svg {
      path {
        stroke: var(--mainTextInactiveColor);
      }
    }

    &.active {
      svg {
        path {
          stroke: var(--mainTextColor);
          fill: var(--mainTextColor);
        }
      }
    }
  }

  &__dislikes {
    svg {
      transform: scale(1, -1);
    }
  }

  &__likeByAuthor {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include hover {
      @include svgColor(var(--mainLinkColor));
    }

    & > img {
      width: 17px;
      height: 17px;
      flex: 0 0 17px;
      display: none;
    }

    & > div {
      width: 17px;
      height: 17px;
      flex: 0 0 17px;
      font-size: 12px;
      line-height: 18px;
      display: none;
    }

    & > svg {
      width: 17px;
      height: 15px;
      display: none;
    }

    &.editable {
      pointer-events: all;
      display: block;

      & > svg {
        display: block;
        height: 12px;
        path {
          stroke: var(--mainLinkColor);
        }
      }
    }

    &.active {
      display: block;
      & > div {
        display: block;
      }
      & > img {
        display: block;
      }

      & > svg {
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -4px;
        right: -5px;
        width: 12px;
        height: 12px;
        path {
          stroke-width: 7;
          stroke: var(--mainBackgroundColor);
          fill: var(--redColor);
        }
      }
    }
  }

  &__reply {
    display: flex;
    align-items: center;
    gap: 2px;
    @include desktop {
      opacity: 0;
    }
    font-weight: 700;
    background-color: transparent;
    color: var(--mainTextInactiveColor);
    @include svgColor(var(--mainTextInactiveColor));
    @include svgSize(14px);
    @include hover {
      @include svgColor(var(--mainTextColor));
      color: var(--mainTextColor);
    }
  }
}
