.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 70px;
  position: relative;
  width: 100%;

  &__scrollArea {
    padding-bottom: 10px;
    & > div {
      @media (min-width: 1100px) {
        justify-content: center;
      }
    }
  }

  &__list {
    height: 60px;
    display: flex;
    gap: 10px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__done,
  &__button {
    font-size: 12px;
    @media (min-width: 767px) {
      font-size: 14px;
    }
    font-weight: lighter;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    color: var(--panel2TextColor);
    @media (min-width: 767px) {
      padding: 10px;
      width: 70px;
      gap: 10px;
    }
    svg {
      width: 15px;
      height: 15px;
      @media (min-width: 767px) {
        width: 20px;
        height: 20px;
      }
      path {
        fill: var(--panel2TextColor);
        stroke: var(--panel2TextColor);
      }
    }

    @include hover {
      background-color: var(--panel2HoverColor);
    }

    &.active {
      background-color: var(--panel2ActiveColor);
    }
  }
}
