.root {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  box-shadow: -3px -3px 1px var(--mainBackgroundColor), 3px 3px 1px var(--grayColor);
  background-color: $backColor;
  border-radius: 10px;
  padding: 40px;
  height: 500px;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__preview {
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: -3px -3px 0.5px var(--mainBackgroundColor), 3px 3px 0.5px var(--grayColor);
  }

  &__input {
    font-size: 16px;
    border-radius: 20px;
    height: 40px;
    line-height: 20px;
    padding: 10px;
    box-shadow: inset 2px 2px var(--grayColor), inset -2px -2px var(--mainBackgroundColor);
  }

  &__button {
    padding: 10px 20px;
    background-color: $yellowColor;
    color: $darkTextColor;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: -2px -2px 0.5px var(--mainBackgroundColor), 2px 2px 0.5px var(--grayColor),
      inset 0px 0px 0px var(--mainBackgroundColor), inset 0px 0px 0px var(--grayColor);
    transition: 0.1s;
    @include hover {
      box-shadow: 0px 0px 0px var(--mainBackgroundColor), 0px 0px 0px var(--grayColor),
        inset -2px -2px 0.5px var(--mainBackgroundColor), inset 2px 2px 0.5px var(--grayColor);
    }
    &:active {
      background-color: $yellowColorDarken;
    }
  }
}
