@import '../../../styles/colors.scss';

.root {
  height: 60px;
  background-color: $yellowColor;

  &__body {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    user-select: none;
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    cursor: pointer;
    svg {
      height: 40px;
      width: 40px;
    }
  }

  // &__menu {
  // }

  // &__user {
  // }
}
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  li {
    font-weight: 700;
    color: $darkColor;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
  }
}

.user {
  display: flex;
  gap: 20px;
  align-items: center;
  &__cart {
    button {
      transition: 0.3s;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      position: relative;
      padding: 3px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 30px;
        height: 30px;
      }
      span {
        font-size: 12px;
        font-weight: 700;
        right: -6px;
        top: -3px;
        background-color: $lightColor;
        padding: 2px;
        border-radius: 10px;
        position: absolute;
      }
      &:hover {
        background-color: $yellowColorDrken;
      }
    }
  }
}
