.root {
  padding: 10px 0;
  padding-right: 20px;
  &__row {
    justify-content: space-between;
    display: flex;
    gap: 15px;
    @media (min-width: 1200px) {
      flex-wrap: wrap;
    }
    &:last-child {
      padding-right: 20px;
    }
    &:first-child {
      padding-left: 20px;
    }
  }
  &__filter {
    width: 60px;
    @media (min-width: 1200px) {
      width: auto;
      height: auto;
      flex-wrap: wrap;
      flex: 0 0 33.333%;
      margin-bottom: 15px;
    }
  }
  &__slider {
    margin-bottom: 15px;
    @media (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }
}
