.root {
  padding: 10px 10px;
  overflow: hidden;

  &__scrollArea {
    &::before {
      background-image: linear-gradient(var(--panel2BackgroundColor), transparent);
    }
    &::after {
      background-image: linear-gradient(transparent, var(--panel2BackgroundColor));
    }
  }

  &__row {
    justify-content: space-between;
    display: flex;
    gap: 15px;

    &:last-child {
      padding-right: 20px;
    }
    &:first-child {
      padding-left: 20px;
    }

    @media (min-width: 1200px) {
      flex-wrap: wrap;
      gap: 0px;
      &:last-child {
        padding: 0;
      }
      &:first-child {
        padding: 0;
      }
    }
  }

  &__filter {
    width: 60px;
    @media (min-width: 1200px) {
      width: auto;
      height: auto;
      flex-wrap: wrap;
      flex: 0 0 33.333%;
      margin-bottom: 15px;
    }
  }

  &__slider {
    margin-bottom: 15px;
    @media (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }
}
