.root {
  display: flex;
  gap: 5px;
  padding: 0 10px;
}
.favorite,
.dislikes,
.likes {
  color: var(--mainTextInactiveColor);
  padding: 2px 8px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  cursor: pointer;

  @include hover {
    background-color: var(--mainHoverColor);
  }

  @include svgSize(16px);
  svg {
    path {
      stroke: var(--mainTextInactiveColor);
    }
  }

  &.active {
    svg {
      path {
        stroke: var(--mainTextColor);
        fill: var(--mainTextColor);
      }
    }
  }
}

.dislikes {
  svg {
    transform: scale(1, -1);
  }
}

.favorite {
  &.active {
    svg {
      path {
        stroke: var(--orangeColor);
        fill: var(--orangeColor);
      }
    }
  }
}
