@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.root {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    margin-bottom: 10px;
  }

  &__scrollArea {
    margin: 10px 0;
  }

  &__postPreview {
    user-select: none;
    pointer-events: none;
    transform: scale(0.9);
  }

  &__submit {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: $greenColor;
    color: var(--lightColor);
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s;

    &:hover {
      background-color: $greenColorDarken;
    }

    &.update {
      background-color: $orangeColor;
      color: var(--lightColor);
      &:hover {
        background-color: $orangeColorDarken;
      }
    }
  }
}
