.tools {
  background-color: var(--panel2BackgroundColor);
  display: flex;
  gap: 5px;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: -4px 4px 10px 0px var(--panel2BoxShadowColor);
  align-items: center;
  position: relative;
  @include svgColor(var(--panel2TextColor));
}
