@import '../../styles/colors.scss';

@mixin size($size: 35px) {
  flex: 0 0 $size;
  width: $size;
  height: $size;
}

.image {
  object-fit: cover;
  border-radius: 50%;
  @include size;
}

.acronyms {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $cyanColor;
  color: var(--lightColor);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  @include size;
}
