@mixin size($size: 35px) {
  flex: 0 0 $size;
  width: $size;
  height: $size;
}

.image {
  object-fit: cover;
  border-radius: 50%;
  @include size;
}

.acronyms {
  user-select: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lobsteryColor);
  color: var(--mainBackgroundColor);
  font-weight: bold;
  font-size: 20px;
  @include size;
}
