.root {
  padding-top: 10px;
  &__button {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 700;
    background-color: transparent;
    color: var(--mainTextInactiveColor);
    @include hover {
      color: var(--mainTextColor);
    }
  }

  &__user {
    width: 17px;
    height: 17px;
    flex: 0 0 17px;
    font-size: 12px;
    line-height: 18px;
  }
  &__userDecoration {
    padding: 0 3px;
    font-size: 20px;
  }

  &__showRepliesIcon {
    height: 12px;
    font-size: 12px;
    &.active {
      transform: rotate(180deg);
    }
  }

  &__showMoreButton {
    margin-left: 50px;
    display: flex;
    color: var(--mainTextInactiveColor);
    gap: 5px;
    background-color: transparent;
    font-weight: 700;
    @include svgColor(var(--mainTextInactiveColor));
    @include svgSize(13px);
    svg {
      transform: rotate(180deg);
    }

    @include hover {
      color: var(--mainTextColor);
      @include svgColor(var(--mainTextColor));
    }
  }
}
