@import '../../../../styles/colors.scss';

.text {
  overflow: hidden;
  position: relative;
  &__dots {
    line-height: 10px;
    color: #999;
  }
  &.overHeight {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 16px;
      bottom: 0;
      background-image: linear-gradient(transparentize($lightColor, 0.9), $lightColor);
    }
  }
  &__showAll {
    margin-left: 20px;
  }
  &__button {
    color: $grayColor;
    padding: 8px 0;
    background-color: transparent;
    &:hover {
      text-decoration: underline;
    }
  }
}

// .text {
//   line-height: 15px;
//   overflow: hidden;
//   word-break: break-word;
//   white-space: pre-wrap;
//   position: relative;
//   font-size: 12px;
//   // height: 49px;

//   @media (min-width: 768px) {
//     font-size: 14px;
//     line-height: 16px;
//   }
//   &.fullText {
//     height: auto;
//     &:before {
//       display: none;
//     }
//   }
//   &.bigText {
//     font-size: 30px;
//     line-height: 40px;
//   }
//   &__dots {
//     line-height: 10px;
//     color: #999;
//   }
//   &__button {
//     color: #999;
//     padding: 8px 0;
//     background-color: transparent;
//     &:hover {
//       text-decoration: underline;
//     }
//   }
//   &__userRef {
//     color: #2244eb;
//     letter-spacing: -0.5px;
//   }
// }
