.text {
  position: relative;
  text-align: justify;
  font-size: 14px;
  color: var(--mainTextColor);
  &.onlyEmojis {
    font-size: 32px;
  }

  &__showAll {
    margin-left: 20px;
  }

  &__button {
    color: var(--mainTextInactiveColor);
    padding: 8px 0;
    background-color: transparent;
    @include hover {
      text-decoration: underline;
    }
  }

  &__mentionedUser {
    font-weight: 700;
    color: var(--blueColor);
  }
}
