@import '../../../../styles/colors.scss';

.text {
  position: relative;
  text-align: justify;
  &.onlyEmojis {
    font-size: 32px;
  }
  &__showAll {
    margin-left: 20px;
  }
  &__button {
    color: var(--grayColor);
    padding: 8px 0;
    background-color: transparent;
    &:hover {
      text-decoration: underline;
    }
  }
  &__mentionedUser {
    font-weight: 700;
    color: $blueColor;
  }
}
