@import '../../../../styles/authFormStyles.scss';
@import '../../../../styles/colors.scss';

.form {
  text-align: center;
  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__errors {
    height: 15px;
    line-height: 15px;
    text-align: start;
    padding-left: 5px;
    color: $errorsCollor;
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__row {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
  }
  &__inputBox {
    flex: 1 1 auto;
    margin-bottom: 10px;
    input {
      background-color: $grayColorLightenUltra;
    }
  }
  &__bottomButton,
  &__frogotPassword_fast,
  &__frogotPassword_slow {
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: #b1b1b1;
    }
  }
  &__frogotPassword_fast {
    display: none;
  }
  @media screen and (max-width: 780px) {
    &__frogotPassword_fast {
      display: block;
    }
    &__frogotPassword_slow {
      display: none;
    }
  }
  &__button {
    width: 120px;
    height: 40px;
    border-radius: 25px;
    margin: 15px 0;
    border: 2px solid $submitButtonColor;
    background-color: $submitButtonColor;
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
    &:hover {
      background-color: transparent;
      color: $submitButtonColor;
      cursor: pointer;
    }
  }
  &__bottomButton {
    @media screen and (min-width: 780px) {
      display: none;
    }
  }
}
