.root {
  padding: 10px 0;
  padding-right: 20px;
  &__row {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  &__filter {
    flex: 0 0 33.333%;
    margin-bottom: 15px;
  }
  &__slider {
    margin-bottom: 30px;
  }
}
