@import '../../../styles/colors.scss';

.root {
  display: flex;
  gap: 30px;
  overflow: hidden;
  display: block;

  &__scrollArea {
    &::before {
      background-image: linear-gradient($panelColor, transparent);
    }
    &::after {
      background-image: linear-gradient(transparent, $panelColor);
    }
  }

  &__category {
    padding: 10px 0;
    flex: 1 1 auto;
  }

  &__title {
    color: $mainTextColor;
    margin-bottom: 10px;
  }

  &__list {
    & > div {
      margin-bottom: 20px;
    }
  }
}
