.root {
  display: flex;
  gap: 30px;
  overflow: hidden;
  display: block;

  &__scrollArea {
    &::before {
      background-image: linear-gradient(var(--panel2BackgroundColor), transparent);
    }
    &::after {
      background-image: linear-gradient(transparent, var(--panel2BackgroundColor));
    }
  }

  &__category {
    padding: 10px 0;
    flex: 1 1 auto;
  }

  &__title {
    color: var(--mainTextColor);
    margin-bottom: 10px;
  }

  &__list {
    & > div {
      margin-bottom: 20px;
    }
  }
}
