.root {
  border-radius: 10px;
  padding: 20px 15px;
  background-color: var(--panel2BackgroundColor);
  box-shadow: var(--panel2BoxShadowColor);

  &__preview {
    height: 30px;
    display: flex;
    align-items: center;
  }

  &__previewThickness {
    flex: 1 1 auto;
    height: 10px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
    &_top,
    &_bottom {
      background-color: var(--panel2BackgroundColor);
      position: absolute;
      right: 0;
      bottom: 100%;
      width: calc(100% + 5px);
      height: 10px;
      transform-origin: 100% 0;
    }
    &_bottom {
      top: 100%;
      transform-origin: 100% 100%;
    }
  }

  &__thickness {
    margin-bottom: 10px;
  }

  &__slider {
    display: flex;
    align-items: center;
  }

  &__colors {
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--panel2BoxShadowColor);
  }

  &__colorsRow {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }

  &__color {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    border: 1.5px solid var(--panel2TextInactiveColor);

    &.active {
      border: 1.5px solid var(--panel2TextColor);
      outline: 2px solid var(--panel2TextColor);
    }

    @include hover {
      border: 1.5px solid var(--panel2HoverColor);
      outline: 2px solid var(--panel2HoverColor);
    }
  }

  &__types {
    display: flex;
    justify-content: space-around;
  }

  &__typesButton {
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 25px;
      height: 25px;
    }

    @include svgColor(var(--panel2TextInactiveColor));

    @include hover {
      background-color: var(--panel2HoverColor);
    }

    &.active {
      background-color: var(--panel2ActiveColor);
      @include svgColor(var(--panel2TextColor));
    }
  }
}

.slider {
  flex: 1 1 auto;
  &__value {
    width: 45px;
    text-align: center;
    color: var(--panel2TextColor);
  }
}
