.inputBox {
  position: relative;
  height: 45px;
  overflow: hidden;
  padding-top: 5px;

  &__label {
    padding: 0 5px;
    border-radius: 3px;
    background-color: var(--mainBackgroundColor);
    position: absolute;
    top: 0px;
    left: 10px;
    color: var(--redColor);
    font-size: 11px;
  }

  input {
    border-radius: 5px;
    padding: 5px 10px;
    padding-right: 33px;
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
}

.error {
  input {
    border: 1px solid var(--redColor) !important;
    background-color: var(--mainBackgroundColor) !important;
  }
}
